@use "../base/var" as *;
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}

/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}
// @font-face {
//   font-family: 'Gilroy';
//   src: url(../font/Gilroy-ExtraBold.otf);
//   src: url(../font/Gilroy-Light.otf) format("otf");
// }

.bose {
  padding-bottom: 52px;
  
  @media screen and (min-width: 708px) {
    padding-bottom: 101px;
  }

  @media screen and (min-width: 1320px) {
    padding-bottom: 174px;
  }

  &__box {
    @media screen and (min-width: 708px) {
      display: flex;
      justify-content: space-between;
      position: relative;
    }
  }

  &__wraper{

    @media screen and (min-width:1320px) {
      margin-left: 110px;
    }
  }

  &__text {
    width: 230px;
    height: 36px;
    color: $text--color;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 16px;

    @media screen and (min-width: 708px) {
      margin-bottom: 16px;
      width: 260px;
      color: $text--color;
      font-family: Gilroy;
      font-size: 16px;
      font-weight: 400;
      line-height: 145%;
    }

    @media screen and (min-width: 1320px) {
      width: 321px;
      line-height: 125%;
    }
  }

  &__txt {
    width: 110px;
    color: $text__color;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 400;
    line-height: 125%;

    @media screen and (min-width: 708px) {
      width: 110px;
      margin-bottom: 105px;
      color: $text--color;
      font-size: 16px;
      line-height: 145%;
    }

    @media screen and (min-width: 1320px) {
      line-height: 125%;
    }
  }

  &__title {
    width: 234px;
    margin-top: 34px;
    margin-bottom: 32px;
    color: $title--color;
    font-family: Gilroy;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    text-transform: uppercase;

    @media screen and (min-width: 708px) {
         margin-top: 105px;
      margin-bottom: 40px;
      width: 289px;
      font-size: 42px;
      font-weight: 600;
      letter-spacing: 0.84px;
    }

    @media screen and (min-width: 1320px) {
      margin-top: 94px;
      margin-bottom: 86px;
      width: 671px;
      font-size: 74px;
      font-weight: 600;
      letter-spacing: 1.48px;
    }
  }

  &__btn {
    margin-bottom: 32px;
    background-color: $button--color;
    border: none;
    padding: 19px 113px;
    color: $suptext--color;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
    text-transform: uppercase;

    @media screen and (min-width: 708px) {
      // width: 54px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.32px;
    }

    @media screen and (min-width: 1320px) {
      // width: 67px;
      font-size: 20px;
      letter-spacing: 0.4px;
      padding: 21px 166px;
    }
  }

  &__img {
    width: 280px;
    height: 240px;

    @media screen and (min-width: 708px) {
      width: 354px;
      height: 415px;
      position: absolute;
      right: 0;
    }

    @media screen and (min-width: 1320px) {
      width: 620px;
      height: 527px;
    }
  }
}
