@use "../base/var" as *;

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}

/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}

.capable {
  padding-top: 52px;
  padding-bottom: 52px;

  @media screen and (min-width: 708px) {
    padding-bottom: 100px;
  }

& .container{
  @media (min-width:1320px) {
    padding-left: 110px;
  }
}

  &__title {
    width: 280px;
    margin-bottom: 36px;
    color: $title--color;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    @media screen and (min-width: 708px) {
      width: 412px;
      margin-bottom: 32px;
      font-size: 30px;
      letter-spacing: 0.6px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 708px) {
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width:1320px) {
      flex-direction: row;
      gap: 220px;
    }
  }


  &__wrap{
        display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    display: flex;
    gap: 24px;

    &::before {
      content: "";
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: $button--color;
    }
  }

  &__text {
    width: 216px;
    color: $text--color;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;

    @media screen and (min-width: 708px) {
      width: 320px;
      font-size: 16px;
      line-height: 145%;
    }
  }
}
