@use "../base/var" as *;

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}

/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}

.footer {
  padding-bottom: 52px;

  &__wrap{
    @media screen and (min-width:708px) {
      display: flex;
      align-items: end;
      justify-content: space-between;
    }

    @media screen and (min-width:1320px) {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (min-width:708px) {
      justify-content:start;
    }

    @media screen and (min-width:1320px) {
      gap: 50px;
    }
  }

  &__item {
    margin-bottom: 24px;
    &:nth-child(n+2){
        text-align: end;
    }
    &:nth-child(odd){
        text-align: start;
    }
    &:nth-child(n+5){
      margin-bottom: 0px;
    }
    @media screen and (max-width:1319px) {
       flex-basis:calc(100%/2);
    }

    @media screen and (min-width:708px) {
      &:nth-child(n+2){
        text-align: start;
      }

      @media screen and (min-width:1320px) {
         margin-bottom: 0px;
      }
    }

   

    
  }

  &__link{
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.30);
font-family: Gilroy;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 125%;
  }

  &__num{
    display: block;
    margin-top: 52px;
    color:$text--color;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;


@media screen and (min-width:708px) {
display: flex;
justify-content: end;
margin-top: 0px;
}
  }
}
