@use "../base/var" as *;


@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}

/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}

.history{
    padding-top: 52px;
    padding-bottom: 52px;


    &__text{
      color: aqua;
      margin-bottom: 40px;
      margin-top: 40px;
    }
}