@use "../base/var" as *;

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}

/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}

.history {
  padding-top: 52px;
  padding-bottom: 52px;

  @media screen and (min-width: 708px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__boxer {
    @media screen and (min-width: 708px) {
      position: relative;
      // margin-bottom: px;
    }
    // @media screen and (min-width:1320px) {

    // }
  }

  &__mix {
    @media screen and (min-width: 708px) {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: end;
    }
  }

  &__icon {
    width: 34px;
    height: 25px;

    @media screen and (min-width:708px) {
      margin-top: 130px;
      margin-bottom: 52px;
      margin-right: 250px;
    }
  }

  &__head {
    @media screen and (min-width: 708px) {
      width: 354px;
      height: 524px;
      position: absolute;
      top: 0;
      right: -100px;
    }
  }

  &__man {
    @media screen and (min-width: 708px) {
      width: 294px;
      height: 355px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__title {
    width: 124px;
    margin-bottom: 32px;
    color: $title--color;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 32px;
    width: 280px;
    color: $text--color;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;

    @media screen and (min-width: 708px) {
      width: 294px;
      font-size: 16px;
      line-height: 145%;
    }
  }

  &__bose{
    @media screen and (min-width:708px) {
    }
  }

  &__from {
    margin-top: 32px;

    @media screen and (min-width: 708px) {
      margin-top: 85px;
    }
  }

  &__man {
    margin-bottom: 32px;
    @media screen and (min-width: 708px) {
      margin-bottom: 0px;
    }
  }

  &__dream {
    width: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $title--color;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 600;
    line-height: 125%;
  }

  &__ps {
    color: rgba(255, 255, 255, 0.4);
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 400;
    line-height: 125%;
  }
}
