@charset "UTF-8";
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

p, h1, h2, h3 {
  margin: 0;
}

address {
  font-style: normal;
}

body {
  background-color: #191919;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}
/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}
@media screen and (min-width: 1320px) {
  .menu {
    display: none;
  }
}
.menu {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 544px;
  background-color: #191919;
  z-index: 1;
  padding-top: 30px;
  padding-left: 20px;
}
@media screen and (min-width: 708px) {
  .menu {
    height: 343px;
  }
}
.menu__log {
  width: 137px;
  height: 23px;
}
.menu__list {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 708px) {
  .menu__list {
    margin-top: 52px;
  }
}
.menu__link {
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .menu__link {
    font-size: 16px;
  }
}
.menu__close {
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 20px;
}
.menu__cross {
  width: 18px;
  height: 18px;
  fill: rgba(255, 255, 255, 0.8);
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.container {
  max-width: 1320px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 300px) {
  .container {
    width: 300px;
  }
}
@media screen and (min-width: 708px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 708px;
  }
}
@media screen and (min-width: 1320px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 1320px;
  }
}

.header {
  padding-top: 30px;
  padding-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .header {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1320px) {
  .header {
    padding-top: 64px;
    padding-bottom: 170px;
  }
}
.header__boxer {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 137px;
  height: 23px;
}
.header__btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.header__burger {
  fill: #E7E7E7;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 1320px) {
  .header__burger {
    display: none;
  }
}
.header__box {
  display: none;
}
@media screen and (min-width: 1320px) {
  .header__box {
    margin-left: auto;
    display: block;
  }
}
@media screen and (min-width: 1320px) {
  .header__list {
    display: flex;
    gap: 77px;
    margin-left: auto;
  }
}
.header__web {
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1320px) {
  .header__web {
    width: 159px;
    font-size: 16px;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}
/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}
.bose {
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .bose {
    padding-bottom: 101px;
  }
}
@media screen and (min-width: 1320px) {
  .bose {
    padding-bottom: 174px;
  }
}
@media screen and (min-width: 708px) {
  .bose__box {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}
@media screen and (min-width: 1320px) {
  .bose__wraper {
    margin-left: 110px;
  }
}
.bose__text {
  width: 230px;
  height: 36px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 16px;
}
@media screen and (min-width: 708px) {
  .bose__text {
    margin-bottom: 16px;
    width: 260px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
  }
}
@media screen and (min-width: 1320px) {
  .bose__text {
    width: 321px;
    line-height: 125%;
  }
}
.bose__txt {
  width: 110px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .bose__txt {
    width: 110px;
    margin-bottom: 105px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 145%;
  }
}
@media screen and (min-width: 1320px) {
  .bose__txt {
    line-height: 125%;
  }
}
.bose__title {
  width: 234px;
  margin-top: 34px;
  margin-bottom: 32px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.68px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .bose__title {
    margin-top: 105px;
    margin-bottom: 40px;
    width: 289px;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1320px) {
  .bose__title {
    margin-top: 94px;
    margin-bottom: 86px;
    width: 671px;
    font-size: 74px;
    font-weight: 600;
    letter-spacing: 1.48px;
  }
}
.bose__btn {
  margin-bottom: 32px;
  background-color: #DF3D3A;
  border: none;
  padding: 19px 113px;
  color: rgba(255, 255, 255, 0.9);
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .bose__btn {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
  }
}
@media screen and (min-width: 1320px) {
  .bose__btn {
    font-size: 20px;
    letter-spacing: 0.4px;
    padding: 21px 166px;
  }
}
.bose__img {
  width: 280px;
  height: 240px;
}
@media screen and (min-width: 708px) {
  .bose__img {
    width: 354px;
    height: 415px;
    position: absolute;
    right: 0;
  }
}
@media screen and (min-width: 1320px) {
  .bose__img {
    width: 620px;
    height: 527px;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}
/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}
.premium {
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .premium {
    padding-bottom: 128px;
  }
}
@media screen and (min-width: 708px) {
  .premium__boxer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.premium__title {
  width: 206px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .premium__title {
    font-size: 30px;
    letter-spacing: 0.6px;
    width: 294px;
  }
}
@media screen and (min-width: 1320px) {
  .premium__title {
    width: 460px;
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 1.08px;
  }
}
.premium__suptitle {
  margin-bottom: 16px;
  width: 242px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .premium__suptitle {
    width: 294px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1320px) {
  .premium__suptitle {
    width: 412px;
    font-size: 28px;
    line-height: 125%;
  }
}
.premium__text {
  margin-bottom: 24px;
  width: 280px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .premium__text {
    width: 294px;
    font-size: 16px;
    line-height: 145%;
  }
}
@media screen and (min-width: 1320px) {
  .premium__text {
    width: 510px;
    font-size: 20px;
    font-weight: 400;
    line-height: 145%;
  }
}
.premium__newtitle {
  width: 223px;
  margin-bottom: 16px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 500;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .premium__newtitle {
    width: 294px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1320px) {
  .premium__newtitle {
    width: 412px;
    font-size: 28px;
    font-weight: 600;
    line-height: 125%;
  }
}
.premium__newtxt {
  margin-bottom: 32px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .premium__newtxt {
    width: 294px;
    font-size: 16px;
    line-height: 145%;
  }
}
@media screen and (min-width: 1320px) {
  .premium__newtxt {
    width: 510px;
    font-size: 20px;
    font-weight: 400;
    line-height: 145%;
  }
}
.premium__img {
  width: 280px;
  height: 293px;
}
@media screen and (min-width: 708px) {
  .premium__img {
    width: 354px;
    height: 540px;
    transform: translateX(-42px);
  }
}
@media screen and (min-width: 1320px) {
  .premium__img {
    width: 590px;
    height: 616px;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}
/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}
.capable {
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .capable {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1320px) {
  .capable {
    padding-bottom: 170px;
  }
}
@media (min-width: 1320px) {
  .capable .container {
    padding-left: 110px;
  }
}
.capable__title {
  width: 280px;
  margin-bottom: 36px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .capable__title {
    width: 412px;
    margin-bottom: 32px;
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .capable__title {
    width: 587px;
    margin-bottom: 50px;
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.capable__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 708px) {
  .capable__list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1320px) {
  .capable__list {
    flex-direction: row;
    gap: 220px;
  }
}
.capable__wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.capable__item {
  display: flex;
  gap: 24px;
}
.capable__item::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #DF3D3A;
}
.capable__text {
  width: 216px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .capable__text {
    width: 320px;
    font-size: 16px;
    line-height: 145%;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}
/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}
.luxury {
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .luxury {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1320px) {
  .luxury {
    padding-bottom: 170px;
  }
}
.luxury__list {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
@media screen and (min-width: 708px) {
  .luxury__list {
    flex-direction: row;
    gap: 60px;
    justify-content: center;
  }
}
@media screen and (min-width: 1320px) {
  .luxury__list {
    gap: 40px;
  }
}
.luxury__title {
  width: 280px;
  margin-bottom: 32px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .luxury__title {
    text-align: end;
    width: 100%;
    font-family: Gilroy;
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .luxury__title {
    width: 700px;
    font-size: 54px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 1.08px;
    margin-left: auto;
  }
}
.luxury__img {
  width: 100%;
  height: 293px;
  margin-bottom: 32px;
}
@media (min-width: 1320px) {
  .luxury__img {
    height: 524px;
  }
}
.luxury__suptitle {
  margin-bottom: 16px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .luxury__suptitle {
    font-size: 20px;
  }
}
@media screen and (min-width: 1320px) {
  .luxury__suptitle {
    font-size: 28px;
  }
}
.luxury__text {
  width: 280px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .luxury__text {
    width: 285px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 145%;
  }
}
@media screen and (min-width: 1320px) {
  .luxury__text {
    width: 510px;
    font-size: 20px;
    font-weight: 400;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}
/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}
.ar {
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .ar {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1320px) {
  .ar {
    padding-bottom: 170px;
  }
}
@media screen and (min-width: 708px) {
  .ar__boxer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1320px) {
  .ar__boxer {
    align-items: start;
  }
}
.ar__title {
  width: 103px;
  margin-bottom: 32px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .ar__title {
    width: 130px;
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .ar__title {
    margin-bottom: 50px;
    width: 225px;
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.ar__preface {
  margin-bottom: 16px;
  width: 225px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
@media screen and (min-width: 1320px) {
  .ar__preface {
    margin-bottom: 20px;
    width: 313px;
    font-size: 28px;
  }
}
.ar__text {
  width: 280px;
  margin-bottom: 32px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .ar__text {
    width: 295px;
    font-size: 16px;
    line-height: 145%;
  }
}
@media screen and (min-width: 1320px) {
  .ar__text {
    width: 370px;
    font-size: 20px;
  }
}
.ar__img {
  width: 280px;
}
@media screen and (min-width: 708px) {
  .ar__img {
    width: 354px;
    margin-left: 50px;
  }
}
@media screen and (min-width: 1320px) {
  .ar__img {
    width: 700px;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}
/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}
.garni {
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .garni {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1320px) {
  .garni {
    background-image: url(../img/union.svg);
    background-repeat: no-repeat;
    background-position: right bottom 54px;
    padding-bottom: 170px;
  }
}
@media screen and (min-width: 708px) {
  .garni__boxer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 60px;
  }
}
@media screen and (min-width: 1320px) {
  .garni__boxer {
    align-items: center;
    justify-content: start;
    gap: 150px;
  }
}
.garni__title {
  width: 154px;
  margin-bottom: 32px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .garni__title {
    width: 192px;
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .garni__title {
    width: 354px;
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.garni__suptitle {
  width: 154px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 16px;
}
@media screen and (min-width: 708px) {
  .garni__suptitle {
    width: 294px;
  }
}
.garni__suptitle::before {
  content: "";
  display: block;
  margin-bottom: 10px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #DF3D3A;
}
@media screen and (min-width: 708px) {
  .garni__suptitle::before {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1320px) {
  .garni__suptitle {
    width: 409px;
    font-size: 28px;
  }
}
.garni__text {
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 24px;
}
@media screen and (min-width: 708px) {
  .garni__text {
    width: 294px;
    font-size: 16px;
    line-height: 145%;
  }
}
@media screen and (min-width: 1320px) {
  .garni__text {
    width: 406px;
    font-size: 20px;
    line-height: 145%;
    margin-bottom: 69px;
  }
}
.garni__txt {
  width: 280px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .garni__txt {
    width: 294px;
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
  }
}
@media screen and (min-width: 1320px) {
  .garni__txt {
    width: 380px;
    font-size: 20px;
    line-height: 145%;
    margin-bottom: 0;
  }
}
.garni__img {
  width: 280px;
}
@media screen and (min-width: 708px) {
  .garni__img {
    width: 354px;
    height: 417px;
    transform: translateX(-49px);
  }
}
@media screen and (min-width: 1320px) {
  .garni__img {
    width: 590px;
    height: 565px;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}
/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}
.history {
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .history {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1320px) {
  .history {
    padding-bottom: 170px;
  }
}
.history__box {
  overflow: hidden;
}
@media screen and (min-width: 708px) {
  .history__boxer {
    position: relative;
  }
}
@media screen and (min-width: 708px) {
  .history__mix {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
.history__icon {
  width: 34px;
  height: 25px;
}
@media screen and (min-width: 708px) {
  .history__icon {
    margin-top: 130px;
    margin-bottom: 52px;
    margin-right: 558px;
  }
}
@media screen and (min-width: 708px) {
  .history__head {
    width: 400px;
    height: 524px;
    position: absolute;
    top: 0;
    right: -100px;
  }
}
@media screen and (min-width: 1320px) {
  .history__head {
    width: 700px;
    height: 628px;
  }
}
@media screen and (min-width: 708px) {
  .history__man {
    width: 294px;
    height: 355px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
@media screen and (min-width: 1320px) {
  .history__man {
    width: 290px;
    height: 355px;
  }
}
.history__title {
  width: 124px;
  margin-bottom: 32px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .history__title {
    width: 155px;
    color: #E7E7E7;
    font-family: Gilroy;
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .history__title {
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.history__text {
  width: 280px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .history__text {
    width: 293px;
    font-size: 16px;
    line-height: 145%;
  }
}
@media screen and (min-width: 1320px) {
  .history__text {
    width: 398px;
    font-size: 20px;
  }
}
@media screen and (min-width: 708px) {
  .history__bose {
    width: 294px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1320px) {
  .history__bose {
    width: 510px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 145%;
    margin-right: 84px;
  }
}
.history__from {
  margin-top: 32px;
  color: #E7E7E7;
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .history__from {
    margin-top: 85px;
  }
}
@media screen and (min-width: 1320px) {
  .history__from {
    font-size: 20px;
  }
}
.history__man {
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .history__man {
    margin-bottom: 0px;
  }
}
.history__dream {
  width: 280px;
  margin-top: 20px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 600;
  line-height: 125%;
}
@media screen and (min-width: 1320px) {
  .history__dream {
    margin-right: 214px;
    width: 382px;
    font-size: 28px;
  }
}
.history__ps {
  color: rgba(255, 255, 255, 0.4);
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .history__ps {
    font-size: 16px;
    line-height: 70%;
  }
}
@media screen and (min-width: 1320px) {
  .history__ps {
    margin-top: 32px;
    margin-right: 353px;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}
/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}
.reviews {
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .reviews {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1320px) {
  .reviews {
    padding-bottom: 170px;
  }
}
@media screen and (min-width: 1320px) {
  .reviews__boxer {
    position: relative;
  }
}
@media screen and (min-width: 1320px) {
  .reviews__wrap {
    display: flex;
    justify-content: end;
  }
}
.reviews__title {
  margin-bottom: 32px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .reviews__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .reviews__title {
    margin-right: 27px;
    font-size: 54px;
    letter-spacing: 1.08px;
    text-align: end;
  }
}
.reviews__video {
  width: 100%;
  height: 180px;
}
@media screen and (min-width: 708px) {
  .reviews__video {
    height: 417px;
  }
}
@media screen and (min-width: 1320px) {
  .reviews__video {
    width: 920px;
    height: 590px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.reviews__suptitle {
  width: 163px;
  margin-top: 32px;
  margin-bottom: 16px;
  color: #DF3D3A;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 600;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .reviews__suptitle {
    width: 165px;
  }
}
@media screen and (min-width: 1320px) {
  .reviews__suptitle {
    width: 227px;
  }
}
.reviews__text {
  width: 258px;
  margin-bottom: 32px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .reviews__text {
    width: 530px;
    font-size: 16px;
    line-height: 145%;
  }
}
@media screen and (min-width: 1320px) {
  .reviews__text {
    width: 258px;
    font-size: 20px;
    line-height: 145%;
  }
}
.reviews__list {
  display: flex;
  gap: 39px;
}
.reviews__button {
  color: #DF3D3A;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  opacity: 0.2;
  background: transparent;
  border: none;
}
.reviews__button:hover {
  opacity: 1;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}
/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}
.faq {
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .faq {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1320px) {
  .faq {
    padding-bottom: 170px;
  }
}
.faq__svg {
  width: 8px;
  height: 14px;
  fill: #E7E7E7;
}
@media screen and (min-width: 1320px) {
  .faq__svg {
    width: 12px;
    height: 20px;
  }
}
.faq__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: auto;
}
@media screen and (min-width: 1320px) {
  .faq__link {
    width: 42px;
    height: 42px;
  }
}
.faq__item {
  display: flex;
  border-bottom: solid rgba(255, 255, 255, 0.1);
  margin-top: 24px;
}
.faq__title {
  margin-bottom: 32px;
  color: #E7E7E7;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .faq__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .faq__title {
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.faq__number {
  width: 20px;
  height: 14px;
  color: #E7E7E7;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 70%;
}
@media screen and (min-width: 708px) {
  .faq__number {
    width: 20px;
  }
}
@media screen and (min-width: 1320px) {
  .faq__number {
    width: 28px;
    font-size: 28px;
    line-height: 125%;
  }
}
.faq__question {
  text-align: start;
  margin-left: 16px;
  margin-bottom: 24px;
  width: 200px;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .faq__question {
    width: 344px;
    font-size: 16px;
    line-height: 145%;
  }
}
@media screen and (min-width: 1320px) {
  .faq__question {
    width: 721px;
    font-size: 28px;
    line-height: 125%;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}
/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}
.nc {
  padding-bottom: 88px;
}
@media screen and (min-width: 708px) {
  .nc {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1320px) {
  .nc {
    padding-bottom: 170px;
  }
}
@media screen and (min-width: 1320px) {
  .nc .container {
    position: relative;
  }
}
.nc__title {
  width: 157px;
  color: #E7E7E7;
  margin-bottom: 32px;
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 1320px) {
  .nc__title {
    width: 341px;
    margin-bottom: 50px;
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.nc__item {
  display: flex;
  border-bottom: solid rgba(255, 255, 255, 0.1);
  justify-content: space-between;
  margin-bottom: 26px;
}
@media screen and (min-width: 1320px) {
  .nc__item {
    width: 400px;
  }
}
.nc__item:first-child {
  border-top: solid rgba(255, 255, 255, 0.1);
  padding-top: 25px;
}
@media screen and (min-width: 1320px) {
  .nc__picture {
    position: absolute;
    right: 0;
    top: -2px;
  }
}
.nc__img {
  width: 100%;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .nc__img {
    width: 648px;
    height: 446px;
  }
}
@media screen and (min-width: 1320px) {
  .nc__img {
    width: 780px;
    height: 664px;
    margin-bottom: 0;
  }
}
.nc__wrap {
  display: flex;
  gap: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1320px) {
  .nc__wrap {
    gap: 20px;
    margin-bottom: 50px;
  }
}
.nc__button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: transparent;
}
.nc__button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}
.nc__color1 {
  width: 42px;
  height: 42px;
  border: 2px solid #DF3D3A;
  border-radius: 50%;
  background-color: black;
}
.nc__color2 {
  width: 42px;
  height: 42px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
}
.nc__text {
  width: 270.8px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 25px;
}
.nc__svg {
  width: 20px;
  height: 20px;
  fill: #DF3D3A;
}
.nc__prise {
  color: #DF3D3A;
  font-family: Gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-top: 52px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1320px) {
  .nc__prise {
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.nc__order {
  padding: 20px 100px;
  background-color: #DF3D3A;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .nc__order {
    padding: 17px 114px;
  }
}
@media screen and (min-width: 1320px) {
  .nc__order {
    padding: 22px 166px;
  }
}

.bgm {
  padding-bottom: 16px;
}
.bgm__img {
  width: 100%;
  height: 235px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 708px) {
  .bgm__img {
    width: 100%;
    height: 360px;
  }
}
@media screen and (min-width: 1320px) {
  .bgm__img {
    width: 100%;
    height: 524px;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}
/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}
.feedback {
  padding-bottom: 76px;
}
@media screen and (min-width: 708px) {
  .feedback {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1320px) {
  .feedback {
    padding-top: 170px;
    padding-bottom: 170px;
  }
}
@media screen and (min-width: 1320px) {
  .feedback__wrap {
    display: flex;
    gap: 250px;
  }
}
.feedback__title {
  color: #E7E7E7;
  margin-bottom: 32px;
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .feedback__title {
    width: 400px;
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .feedback__title {
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.feedback__text {
  width: 281px;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .feedback__text {
    width: 445px;
    font-size: 20px;
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1320px) {
  .feedback__text {
    width: 400px;
    font-size: 28px;
  }
}
.feedback__form {
  display: flex;
  flex-direction: column;
}
.feedback__input {
  background-color: transparent;
  border: none;
  width: 280px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 16px;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .feedback__input {
    width: 100%;
  }
}
@media screen and (min-width: 1320px) {
  .feedback__input {
    width: 510px;
    margin-bottom: 42px;
    padding-bottom: 17px;
  }
}
.feedback__input:nth-child(3) {
  padding-bottom: 60px;
  margin-bottom: 40px;
}
.feedback__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.feedback__input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.feedback__agree {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 5px;
}
@media screen and (min-width: 708px) {
  .feedback__agree {
    margin-bottom: 52px;
  }
}
.feedback__check {
  border: 2px solid var(--5-1, #e9edfa);
  width: 30px;
  height: 28px;
}
.feedback__suptext {
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.feedback__go {
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.feedback__button {
  background-color: transparent;
  border: 1px solid #DF3D3A;
  padding: 20px 120px;
  color: rgba(255, 255, 255, 0.9);
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .feedback__button {
    width: 294px;
  }
}
@media screen and (min-width: 1320px) {
  .feedback__button {
    padding: 22px 229px;
    width: 510px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.4px;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Или bold */
  font-style: normal;
}
/* Светлый шрифт */
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Обычно Light — это 300 */
  font-style: normal;
}
.footer {
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .footer__wrap {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1320px) {
  .footer__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 708px) {
  .footer__list {
    justify-content: start;
  }
}
@media screen and (min-width: 1320px) {
  .footer__list {
    gap: 50px;
  }
}
.footer__item {
  margin-bottom: 24px;
}
.footer__item:nth-child(n+2) {
  text-align: end;
}
.footer__item:nth-child(odd) {
  text-align: start;
}
.footer__item:nth-child(n+5) {
  margin-bottom: 0px;
}
@media screen and (max-width: 1319px) {
  .footer__item {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 708px) {
  .footer__item:nth-child(n+2) {
    text-align: start;
  }
}
@media screen and (min-width: 708px) and (min-width: 1320px) {
  .footer__item {
    margin-bottom: 0px;
  }
}
.footer__link {
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.3);
  font-family: Gilroy;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .footer__link {
    font-size: 14px;
  }
}
@media screen and (min-width: 1320px) {
  .footer__link {
    font-size: 16px;
  }
}
.footer__num {
  display: block;
  margin-top: 52px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 708px) {
  .footer__num {
    display: flex;
    justify-content: end;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1320px) {
  .footer__num {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */