$button--color:#DF3D3A;
$title--color:#E7E7E7;
$text--color:rgba(255, 255, 255, 0.80);
$agree--color: #E9EDFA;
$action--color:#191919;
$burger--color:#FFFFFF;
$suptext--color:rgba(255, 255, 255, 0.90);
$fill--color: rgba(255, 255, 255, 0.10);







